<div class="form-group">
    <div class="row">
        <div class="col">
            <label for="data">Data da visita: </label>
            <input class="form-control" type="date" name="data" value="<%=visita.dataVisita == null ? '' : visita.dataVisita.toISOString().split('T')[0] %>"> 
        </div>
        <div class="col">
            <label for="local">Local da visita: </label>
            <select class="form-control" name="local">
                <% if(visita.local == 'SEMPAS') {%>
                    <option value="SEMPAS" selected>SEMPAS</option>
                    <option value="Residência">Residência</option>
                <% } else { %>
                    <option value="SEMPAS">SEMPAS</option>
                    <option value="Residência" selected>Residência</option>
                <% } %>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="motivo">Motivo da Visita: </label>
            <select class="form-control" name="motivo">
                <% if (visita.motivo == 'Ajuda de Custo') { %>
                    <option value="Ajuda de Custo" selected>Ajuda de Custo</option>
                    <option value="Cesta Básica">Cesta Básica</option>
                    <option value="Passagem">Passagem</option>
                <% }else if (visita.motivo == 'Cesta Básica') { %>
                    <option value="Ajuda de Custo">Ajuda de Custo</option>
                    <option value="Cesta Básica" Selected>Cesta Básica</option>
                    <option value="Passagem">Passagem</option>
                <% } else if (visita.motivo == 'Passagem') { %>
                    <option value="Ajuda de Custo">Ajuda de Custo</option>
                    <option value="Cesta Básica">Cesta Básica</option>
                    <option value="Passagem" selected>Passagem</option>
                <% } %>
            </select>
        </div>
        <div class="col">
            <label for="valor">Valor: </label>
            <input class="form-control" type="number" name="valor" value="<%=visita.valor%>">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="observacoes">Observações:</label>
            <textarea class="form-control" name="observacoes"><%=visita.observacoes%></textarea>
        </div>
    </div>
</div>