<div class="container d-flex flex-column">
    <h2>Adicionar documentos para <%=cad.nome.nomeCompleto%>.</h2>
    <p>Os documentos devem ser enviados em formato de imagem (jpg, jpeg, png, gif).</p>
    <p><label style="color:red;">*</label><label> - Campos Obrigatórios</label></p>
    <form action="/cadastros/<%=cad.id%>/docs" method="post" enctype="multipart/form-data">
        <div class="d-flex flex-column my-2">
            <label for="rgFrente">Frente do RG <label style="color:red;">*</label>: </label>
            <input class="form-control" type="file" name="rgFrente">
        </div>
        <div class="d-flex flex-column my-2">
            <label for="rgVerso">Versos do RG: </label>
            <input class="form-control" type="file" name="rgVerso">      
        </div>
        <div class="d-flex flex-column my-2">
            <label for="cpfFrente">Frente do CPF <label style="color:red;">*</label>: </label>
            <input class="form-control" type="file" name="cpfFrente">
        </div>
        <div class="d-flex flex-column my-2">
            <label for="compRes">Comprovante de residência <label style="color:red;">*</label>: </label>
            <input class="form-control" type="file" name="compRes">
        </div>
        <button class="btn btn-primary my-2" type="submit">Salvar</button>
        <a class="btn btn-danger" href="/cadastros/<%=cad.id%>">Cancelar</a>
    </form>
</div>