<div>
    <img src="images/logo-sempas-trim.jpeg" alt="Logo-sempas">
</div>
<div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
        <ul>
            <li><a href="/cadastros">Cadastros</a></li>
        </ul>
    </nav>
</div>

<h1>Sistema de Cadastro de Usuários</h1>