<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <!-- <th scope="col"></th> -->
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Relatório Social</th>
            </tr>
        </thead>
        <% cad.forEach(c => { %>
            <tbody>
                <tr>
                    <!-- <th scope="row"></th> -->
                    <td class="col-md-auto"><a class=" btn btn-secondary" href="/cadastros/<%=c.id%>"><%=c.nome.nomeCompleto%></a></td>
                    <td class="col-md-auto"><%=c.cpf%></td>
                    <% if(c.relatorioSocial == false) { %>
                        <td class="col-md-auto">Não consta</td>
                    <% }else{ %>
                        <td class="col-md-auto">Consta</td>
                    <% } %>
                </tr>
            </tbody>
        <% }) %>
    </table>
</div>
