<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Toda f*cking vez que tento importar stylesheets de cdn não funciona se não tiver media="screen" -->
    <link rel="stylesheet" href="/public/styles/bootstrap.min.css" media="screen">
    <script defer src="/public/javascripts/bootstrap.min.js"></script>
    <title>SEMPAS</title>
    
    <!-- Estilo feito só pra aumentar imagem do documento ao clicar -->
    <style>
        .pequeno{
            cursor: pointer;
            height:40vh; 
            width:auto;
        }
        .grande{
            cursor: pointer;
            height: 90vh;
            width: auto;
        }
    </style>
</head>
<body class="bg-white mw-100 mh-100">
    <div class="container-fluid sticky-top">
        <div class="d-flex flex-wrap row ">
            <div class="col-sm-auto">
                <img style="height:20vh; width:auto;" src="/public/images/logo-sempas-trim.jpeg" alt="Logo-sempas">
            </div>
            <div class="col-lg-auto text-center">
                <h1>Secretaria Municipal de Promoção e Assistência Social</h1>
                <h2>Sistema de Gestão</h2>
            </div> 
        </div>
    </div>
    <div class="container-fluid bg-light sidebar">
        <div class="row sidebar-sticky">
            <div class="col-sm-auto ">
                <nav class="row justify-content-center ">
                    <ul class="col-sm-auto list-group">
                        <li><a class="row list-group-item text-decoration-none bg-secondary text-white" href="/">Home</a></li>
                        <li><a class="row list-group-item text-decoration-none bg-secondary text-white" href="/recepcao">Recepção</a></li>
                        <li><a class="row list-group-item text-decoration-none bg-secondary text-white" href="/cadastros">Cadastros</a></li>
                        <li><a class="row list-group-item text-decoration-none bg-secondary text-white" href="/garagem">Garagem</a></li>
                    </ul>
                </nav>
            </div> 
            <div style="border: 1px solid gray; height:70vh" class="col-lg bg-light mb-3 mx-2">
                <div class="h-100 overflow-auto">
                    <% if(locals.mensagem) { %>
                        <p><%=mensagem%></p>
                    <% } %>
                    <%-body%>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-auto my-1">
                <%- include('../partials/footer')%>
            </div>
        </div>
    </div>
    <script>
        function aumentar(e){
            ele = document.getElementById(e)
            if(ele.classList.contains('pequeno')){
                ele.classList.remove('pequeno') 
                ele.classList.add('grande') 
            }else if(ele.classList.contains('grande')){
                ele.classList.remove('grande') 
                ele.classList.add('pequeno') 
            }
        };
    </script>
</body>
</html>