<h2 class="text-center">Cadastros recentes</h2>
<% cadastros.forEach(cadastro => { %>
    <div class="container">
        <div class="row justify-content-md-center">
            <a class="my-1 btn btn-secondary" href="cadastros/<%=cadastro.id%>"><%=cadastro.nome.nomeCompleto%></a>
        </div>
    </div>
<% }) %>