<div>
    <h2>Cadastros</h2>
</div>
<div>
    <a href="cadastros/novo">Novo</a>
</div>
<div>
    <form action="cadastros/busca" method="post">
        <div>
            <input type="text" name="busca" placeholder="Busca por nome, apelido ou número do documento">
            <button type="submit">Buscar</button>
        </div>
    </form>
</div>