<div>
    <h2>Cadastros</h2>
</div>
<div>
    <a href="cadastros/novo">Novo</a>
</div>
<div>
    <form action="/cadastros/busca" method="get">
        <div>
            <input type="text" name="buscaNome" placeholder="Busca por nome">
            <input type="submit" value="Buscar">
        </div>
    </form>
</div>
<br>
<div>
    <% if (cad) { %>
        <%- include('../partials/tabelaCadastros.ejs') %>
    <% } %>
</div>