<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Cadastros</h2>
    </div>
    <div>
        <a href="cadastros/novo">Novo</a>
    </div>
    <div>
        <form action="cadastros/busca" method="post">
            <div>
                <input type="text" name="busca" placeholder="Busca por nome, apelido ou número do documento">
                <button type="submit">Buscar</button>
            </div>
        </form>
    </div>
</body>
</html>
