<h2>Novo cadastro</h2>
<label style="color:red;">*</label><label> - Campos Obrigatórios</label>
<div>
    <form action="#" method="post">
        <div>
            <h3>Identificação</h3>
            <label for="nome">Nome Completo<label style="color:red;">*</label>: </label>
            <input type="text" name="nome">
            <label for="apelido">Apelido (caso relevante): </label>
            <input type="text" name="apelido">
            <label for="nomeMae">Nome da mãe<label style="color:red;">*</label>: </label>
            <input type="text" name="nomeMae">
        </div>
        <div>
            <label for="nis">NIS<label style="color:red;">*</label>: </label>
            <input type="number" name="nis">
            <label for="cpf">CPF<label style="color:red;">*</label>: </label>
            <input type="number" name="cpf">
        </div>
        <div>
            <label for="rg">RG<label style="color:red;">*</label>: </label>
            <input type="number" name="rg">
            <label for="orgao">Órgão expedidor<label style="color:red;">*</label>: </label>
            <input type="text" name="orgao">
            <label for="uf">UF<label style="color:red;">*</label>: </label>
            <input type="text" name="uf">
            <label for="dataEmissao">Data de emissão<label style="color:red;">*</label>: </label>
            <input type="date" name="dataEmissao">
        </div>
        <div>
            <h3>Endereço</h3>
            <label for="endereco">Endereço<label style="color:red;">*</label>: </label>
            <input type="text" name="endereco">
            <label for="numero">Número: </label>
            <input type="number" name="numero">
            <label for="complemento">Complemento: </label>
            <input type="text" name="complemento">
        </div>
        <div>
            <label for="cep">CEP<label style="color:red;">*</label>: </label>
            <input type="number" name="cep">
            <label for="bairro">Bairro<label style="color:red;">*</label>: </label>
            <input type="text" name="bairro">
            <label for="cidade">Cidade<label style="color:red;">*</label>: </label>
            <input type="text" name="cidade">
            <label for="estado">Estado<label style="color:red;">*</label>: </label>
            <input type="text" name="estado">
        </div>
        <div>
            <h3>Contatos</h3>
            <label for="telFixo">Telefone fixo: </label>
            <input type="number" name="telFixo">
            <label for="cel">Celular<label style="color:red;">*</label>: </label>
            <input type="number" name="cel">
            <label for="email">E-mail: </label>
            <input type="email" name="email">
        </div>
        <button type="submit">Salvar</button>
    </form>
</div>