<div>
    <form action="" method="post">
        <%- include('usuarioForm') %>
        <div class="container-fluid justify-content-end">
            <div class="col my-4">
                <button class="btn btn-success" type="submit">Criar</button>
                <a class="btn btn-warning" href="/cadastros">Cancelar</a>
            </div>
        </div>
    </form>
</div>