<div class="text-center">
    <h3>Detalhes da Rota</h3>
</div>
<div class="container w-75">
    <form action="/garagem/rota/<%=rota.id%>?_method=PUT" method="post">
        <%- include('__rotaForm.ejs') %>
    </form>
</div>
