<div class="text-center">
    <h3>Detalhes de <%=veiculo.marca%> <%=veiculo.modelo%></h3>
</div>
<div class="container w-75">
    <form action="/garagem/veiculo/<%=veiculo.id%>?_method=PUT" method="post">
        <%- include('__veiculoForm.ejs') %>
    </form>
</div>
